* {
    margin: 0;
    padding: 0;

  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
 
  .back {
    background: hsla(186, 33%, 94%, 1);
    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
    background-size: cover;
  }

  .container {
    background: hsla(213, 62%, 45%, 1);
    background: linear-gradient(90deg, hsla(213, 62%, 45%, 1) 0%, hsla(203, 89%, 71%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(213, 62%, 45%, 1) 0%, hsla(203, 89%, 71%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(213, 62%, 45%, 1) 0%, hsla(203, 89%, 71%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2C6CBC", endColorstr="#71C3F7", GradientType=1 );

    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
  }

   .container h2 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 250;
    text-decoration: underline;
    padding-bottom: 10px;
}
  
  form {
    margin: 2rem 0 1rem 0;
  }
  
  form select,
  button,
  input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
  }
  
  form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
  }
   
  .amt:hover {
    border: 2px solid #353535;
    }

  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  
  .dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .select-container img {
    max-width: 2rem;
  }
  
  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
  }
  
  .select-container select {
    font-size: 1rem;
    width: auto;
  }
  
  .msg {
    margin: 2rem 0 2rem 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    background-color: #ffffff;
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
    width: 100%;
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  form button {
    height: 3rem;
    width: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000000;
    color: #fff;
    margin-left: 25%;
    font-size: 1.15rem;
    cursor: pointer;
 }

 .btn:hover {
  border: 2px solid white;
 }

 
